.content-game-about {
    width: 40rem; 
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    text-align: right;

    font-size: 12px;

    position: absolute;
    right: 0;
    z-index: 1;

    /* background-color: green; */
}

.content-game-about .box-text {
    width: 80%;
    height: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    /* background-color: yellow; */
}

.content-game-about .box-text h3 {
    font-size: 1rem;
    font-weight: 700;
}

.content-game-about .decoration {
    width: 25%;
    height: 2px;
    background-color: #000;
    margin: 0.8rem 0;
}

.img-game-about {
    width: 15rem;
    height: 8.5rem;
}

