<div class="content-game-start">
    <div class="box-title">
        <h3>Comece a jogar</h3>
    </div>
    <p>
        Baixe o jogo, 
        cadastre seu nome de usuário e 
        comece a interagir com mais de 
        um milhão de jogadores.
    </p>
    <button>Download</button>
    <div class="content-test-update">
        <span>10/07/2020 test update</span>
    </div>  
</div>

<div class="content-game-about">

    <img 
    class="img-game-about" 
    src="assets/used/frente-de-batalha.png " 
    alt="frente de batalha"
    >

    <div class="box-text">
        <h3>Sobre o jogo</h3>
        <div class="decoration"></div>
        <div class="text">
            <p>
                Star Wars Battlefront é um jogo eletrônico de 
                tiro em primeira e terceira pessoa, produzido 
                pela DICE e baseado na franquia Star Wars. 
                Foi publicado pela Electronic Arts com a chancela da 
                LucasArts a 17 de Novembro de 2015 para Microsoft Windows, 
                PlayStation 4 e Xbox One.
            </p>
        </div>
    </div>
</div>
