@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

/* global */

h3 {
    text-transform: uppercase;
}

/* header */

.header-container {
    height: 40vw;

    background-image: url("assets/star-war-top.png");
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;

    display: flex;
    justify-content:center;
    align-items: center;

    position: relative;
}

.box-left {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    padding-top: 9.5%;
    padding-right: 5%
}

.box-right {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding-top: 9.5%;
    padding-left: 15%;
}

.box-kylo {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: absolute;
    top: 12%;
    z-index: 1;
}

.img-star-wars {
    width: 26.1vw;
}

.img-kylo {
    width: 70.4vw;
}

.img-legion {
    width: 9.1vw;
    position: absolute;
    bottom: 0;
    right: 11.6%;
}
.box-download{
    width: 20.7%;
    height: 40.5%;
    background-image: url("assets/strom-trupe-red.png.png");
}

/* main */

.container {
    /* width: 100vw; */
    background-image: url("assets/star-wars-robot.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-right: 50px;
}

.container-game-info {
    width: 80%;
    min-height: 60vh;
    background-color: blue;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    margin-bottom: 50px;
    position: relative;
    top: 100px;
}

/* content-start */

.content-game-start {
    width: 220px;
    background-color: red;

    padding: 70px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    z-index: 999;
}

.content-game-start h3{
    font-size: 40px;
    font-weight: 400git;
    color: #fff;
}

/* content-game-about */

.content-game-about {
    width: calc(90% - 200px);
    background-color: green;
    
    display: flex;
    flex-direction: row;
    font-size: 12px;

    position: absolute;
    right: 0;
    z-index: 1;
}

.img-game-about {
    width: 10vw;
    height: 10vw;
}

.content-game-structure {
    width: 220px;
    background-color: red;

    padding: 70px 20px;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-lord-sifh {
   width: 400px; 
}

.img-rey{
   width: 200px; 
}


@media (max-width: 768px) {
    
    .container-game-info {
        flex-direction: column;
        position: static;   
    }

    .content-game-start {
       position: static;
    }

    .content-game-about {  
        width: 80%;
        height: 40vh;
        position: static;
        flex-direction: column-reverse;
    }
}