* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 100vh;

    background-image: url("assets/star uó topo@2x.png");
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;

    border: 2px solid pink;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;

    border: 2px solid red;
}

.box-left {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    border: 1px solid green;
}

.box-right {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    border: 1px solid purple;
}

.img-star-wars {
    width: 20vw;
}

@media (max-width: 500px) {
    .header-content {
        display: flex;
        justify-content: center;
        align-items:center;
    }
}

@media (max-width: 1068px) {
    .header-container {
        background-size: contain;
        background-position:top; 
    }
}

