@import "../../styles/media.main.css";

.content-hierarchy{
    /* size */
    width: 10rem; 
    height: 10rem;
    
    /* spacing */
    padding: 2.5rem;

    /* text */
    font-size: 12px;
    text-align: right;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: green;
}

.content-hierarchy .box-title {
 
}
