.header-container {
    /* size */
    height: 40vw;

    /* background-image */
    background-image: url("../../assets/used/star-war-top.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

    /* position */
    position: relative;
}

.box-left {
    /* size */
    width: 50%;

    /* spacing */
    padding-top: 9.5%;
    padding-right: 5%;

    /* flex */
    justify-content: flex-end;
}

.box-right {
    /* size */
    width: 50%;

    /* spacing */
    padding-top: 9.5%;
    padding-left: 15%;

    /* flex */
    justify-content: flex-start;

}

.box-kylo {
    /* size */
    width: 80vw;
    height: 100%;

    /* flex */
    display: flex;
    justify-content:flex-start;
    align-items: center;

    /* position */
    position: absolute;
    top: 12%;

    /* z-index */
    z-index: 1;
}

.img-star-wars {
    /* size */
    width: 26.1vw;
}

.img-kylo {
    /* size */
    width: 62vw;
}

.img-legion {
    /* size */
    width: 9.1vw;

    /* position */
    position: absolute;
    bottom: 0;
    right: 11.6%;
}

.box-download {
    /* size */
    width: 20.7%;
    height: 40.5%;

    /* background-image */
    background-image: url("../../assets/used/strom-trupe-red.png.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

}
