@import "../../components/Start_and_About/style.about.css";
@import "../../components/Start_and_About/style.start.css";
@import "../../components/Struture/style.struture.css";
@import "../../components/Attribute/style.attribute.css";
@import "../../components/Hierarchy/style.hierarchy.css";


.container-one {
    /* spacing */
    padding-right: 3rem;

    /* background-image */
    background-image: url("../../assets/used/star-wars-robot.png");
    background-repeat: no-repeat;
    background-size: contain;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.container-game-info {
    /* size */
    min-width: 100%;
    min-height: 60vh;

    /* spacing */
    padding-right: 3rem;
    /* margin-bottom: 50px; */

    /* display: flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    /* position */
    position: relative;
    top: 0px;

    /* background-color */
    /* background-color: blue; */
}

/* container-two */

.container-two {
    width: 100vw;
    /* spacing */
    padding: 0 3rem;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* background-color */
    background-color: #2D2D2D;

}

.container-game-images {
    /* size */
    min-width: 100%;
    min-height: 30vh;

    /* spacing */
    padding-bottom: 2.5rem;
    margin-bottom: 50px;

    /* display: flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* background-color: pink; */

}
