@import "media.main.css";
@import "../../components/Start_and_About/about.css";
@import "../../components/Start_and_About/start.css";
@import "../../components/Struture/content.css";

.container {
    /* spacing */
    padding-right: 5rem;

    /* background-image */
    background-image: url("../../assets/used/star-wars-robot.png");
    background-repeat: no-repeat;
    background-size: contain;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.container-game-info {
    /* size */
    min-width: 100%;
    min-height: 60vh;

    /* spacing */
    margin-bottom: 50px;

    /* display: flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    /* position */
    position: relative;
    top: 0px;

    /* background-color: blue; */
}

