<div class="content-images">
    <div class="box-title">
        <h3>Atributos</h3>
    </div>

    <figure class="img-one">
        <img src="assets/used/fight-one.png" alt="">

        <div class="box-img">
            <figure>
                <img src="assets/used/fight-two.png" alt="">
            </figure>
            <figure>
                <img src="assets/used/fight-three.png" alt="">
            </figure>
            <figure>
                <img src="assets/used/fight-four.png" alt="">
            </figure>
            <figure>
                <img src="assets/used/fight-five.png" alt="">
            </figure>
        </div>
    </figure>

   
</div>
